body {
    background-image:url("../img/hvac-tools.jpg");
}
.jumbotron {
    height: 15em ;
}

.title-background {
    background-color: #9f1111;
    margin-bottom: 0;
}

.nav-color {
    background-color: red;
}

.refresh {
    width: 6em;
    height: 2em;
    font-weight: bold;
    background-color: #333333;
    color: #fafafa;
}