* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

nav {
    background: #a6a6a6;
    color: #333333;
    font-weight: bold;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.logo {
    font-size: 3em;


}


nav a {
    text-decoration: none;
    color: #333333;
    font-family: Verdana, sans-serif;

}

nav a:hover {
    color: blue;
}

.top-nav {

}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


a {
    display: inline-block;
    padding: 10px;
}

.nav-links {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.links {
    align-content: center;
}

.linksbottom {
    display: flex;


}