body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: #a7bcf2;
    --text-info: #c3f7b7;
    --bg-success: #fff8b5;
    --text-success: #e6b1b4;
}

.message {
    border: 1px lightgray solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;

}

.message-info {
    background-color: var(--bg-info);
    color: #5759d4;
}

.message-success {
    background-color: var(--text-info);
    color: #0d8f2c;
}

.message-warning {
    background-color: var(--bg-success);
    color: #8a8f27;
}

.message-error {
    background-color: var(--text-success) ;
    color: #851b21;
}