body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

:root {
    --bg-info: #b6b7f2;
    --text-info: #8cdb9f;
    --bg-success: #f2f783;
    --text-success: #e6b1b4;
}

.message {
    padding: 10px;
    margin: auto;
    border-radius: 5px;

}

.message-info {
    background-color: var(--bg-info);
    color: #5759d4;
    margin: 10px;
}

.message-success {
    background-color: var(--text-info);
    color: #0d8f2c;
    margin: 10px;
}

.message-warning {
    background-color: var(--bg-success);
    color: #8a8f27;
    margin: 10px;
}

.message-error {
    background-color: var(--text-success) ;
    color: #851b21;
    margin: 10px;
}